<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= pf.pageTitle %>
	</title>
	<meta name="description" content="<%= pf.description %>" />
	<meta name="keywords" content="<%= pf.keywords %>" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5" />
	<meta name="google-site-verification" content="ZT-WvVdf7QOX8D0jKOHoVZ8eOWvWlAcTbRgyykmxFEk" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<!-- <script> 
		console.log('aaa');
		window.onerror = function (message, url, line) {
			alert(
			 message 
			);
			alert(
			 url
			);
			alert(
			 line 
			);
			// Return true to supress the browser error messages (like in older versions of Internet Explorer)
			// return true;
		}
		// throw new Error('aassdasd')
	</script> -->
</head>

<body>
	<%= header %>
	<%= content %>
	<%= footer %>
</body>