<footer>
	<div class="container">
		<div class="contents">
			<div class="logo">
				<a href="https://www.lambda.im/"><img src="<%= require('../../img/logowhite.svg') %>" alt="lambda"></a>
			</div>
			<div class="info">
				<div class="about">
					<ul>
						<li class="mao"><a href="#scene">
								<%=lang.foot.menu1%></a></li>
						<li class="mao"><a href="#principle">
								<%=lang.foot.menu2%></a></li>
						<li class="mao"><a href="#ecosystem">
								<%=lang.foot.menu3%></a></li>
						<li class="mao"><a href="#tokensale">
								<%=lang.foot.menu4%></a></li>
						<li class="mao"><a href="#roadmap">
								<%=lang.foot.menu5%></a></li>
						<li class="mao"><a href="https://blog.lambda.im/">
								<%=lang.foot.menu6%></a></li>
						<li class="mao"><a href="mailto:info@lambda.im">
								<%=lang.foot.menu7%></a></li>
					</ul>
				</div>
				<div class="contact">
					<ul>
						<li>
							<a class="telegram" href="https://t.me/HelloLambda" target="_blank">
							</a>
						</li>
						<li>
							<a class="twitter" href="https://twitter.com/Lambdaim" target="_blank">
							</a>
						</li>
						<li class="wechatitem">
							<a class="wechat" href="https://mp.weixin.qq.com/s/rW3pOxzJwI1HXrTESTYxWA" target="_blank">
							</a>
							<img alt="weichhart lambda" style="width:100px" class="wechatQRcode" src="<%= require('../../img/index/wechartrq.png') %>" />
						</li>
						<li>
							<a class="facebook" href="https://www.facebook.com/Lambdaim" target="_blank">
							</a>
						</li>
						<li>
							<a class="linkedin" href="https://www.linkedin.com/company/lambdaim" target="_blank">
							</a>
						</li>
						<li>
							<a class="weibo" href="https://www.weibo.com/lambdaim?is_all=1" target="_blank">
							</a>
						</li>
						<li>
							<a class="github" href="https://github.com/LambdaIM" target="_blank">
								<img src="<%= require('../../img/index/github.png') %>" alt="github">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121455265-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-121455265-1');


	</script>
</footer>